.btn {
  display: inline-flex;
  justify-content: center;
  padding: 20px;
  min-width: 300px;
  border: none;
  border-radius: 12px;
  background: var(--color-primary);
  font-family: "Formular", helvetica, arial, sans-serif;
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background: rgba(var(--color-primary-rgba), 0.8);
}
