:root {
  --card-size: 115px;
  --grid-gap: 13px;
}

.playground {
  position: relative;
  display: flex;
  justify-content: center;
  user-select: none;
}

.play-board {
  display: grid;
  grid-template-columns: repeat(4, var(--card-size));
  gap: var(--grid-gap);
  margin: 0 100px;
}
